* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    background: linear-gradient(180deg, #009688 15%, #D9DBD4 15%);
    height: 100vh;
}

/* LAYOUT */
.box-content{
    width: 1140px;
    margin: 20px auto;
    padding: 0;
    border: 1px dashed rgb(0, 4, 255);
    min-height: 500px;
    position: relative;
}

.sidebar{
    width: 400px;
    min-height: 300px;
    background-color: rgb(197, 149, 149);
    border-right: 1px solid gray;
    
}
.top-bar-message{
    width: calc(100% - 400px);
    min-height: 50px;
    background-color:#8d989d;
    position: absolute;
    right: 0;
    top: 0;
}


.message-content{
    width: calc(100% - 400px);
    height: 100%;
    position: absolute;
    right:0;
    padding-top: 80px;
    background-color: bisque;
    top: 0;
    z-index: -2;
   
}

.bottom-bar-message{
    width: calc(100% - 400px);
    min-height: 90px;
    background-color:#598193;
    position: absolute;
    bottom: 0;
    right: 0;
}

.container{
    border: 1px dashed red;
}
.col{
    border: 1px dashed rgb(0, 170, 20);

}

/* FINE LAYOUT */

/* SIDEBAR */
.color-topbar{
    background-color: lightgrey;
}
.img-topbar{
    width: 40px;
    border-radius: 50%;
}

.color-notifications{
    background-color: rgb(122, 201, 232);


}
/* FINE SIDEBAR */